/* start global rules */
*/{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;/
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gril_3{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
    gap: 30px; 
}
:root{
--main-padding: 60px;
--main-background-color:rgb(24 187 237 / 50%); 
--main-overle: rgb(0 0 0/60%);
--main-color: #19c8fe;
}
/* @media (max-width:767px){  
} */
   /* ......................small screen.................... */
   @media (min-width:768px){
    .container{
        width:750px;
    }
    }
   /* .......................medium screen.................... */
   @media (min-width:992px){
    .container{
        width:970px;
    }
   }
   /* ......................large screen....................... */
   @media (min-width:1200px){
    .container{
        width:1170px;
    }
   }
/* end global rules */
/* ............................ */
.main-heading{
    text-align: center;
}
.main-heading h2{
    font-size: 35px;
    font-weight: 500;
    position: relative;
}
.main-heading h2::after{
   content: "";
    height: 2px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ddd;
    bottom: -20px;
}
.main-heading h2::before{
   content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    bottom: -30px;
    border-radius: 50%;
    border: 3px solid #DDD;
    z-index: 2;
}
.main-heading p{
    line-height: 1.7;
    width: 550px;
    margin: 0px auto 100px;
    max-width: 100%;
    color: #777;  
}

/* ............................ */
/* .................start header........................ */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
 header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: aliceblue;
}
header .container::after{
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    left: 15px;
    background-color: rgb(91, 175, 218);
}
header .container .logo img{
   height:70px;
}
header .container nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container nav ul{
    display: flex;
}
.container ul li a{
    padding: 40px 10px;
    display: block;
    text-decoration: none;
    color: aliceblue;
   font-size: 17px;
   transition: 0.3s;
   z-index: 2;
}
nav ul li .aaaa,
 nav ul li :hover{
    color: var(--main-color);
    border-bottom:2px solid var(--main-color);
}
nav .search{
    width: 40px ;
    height: 30px;
    border-left: 1px solid bisque;
    margin-left: 30px;
}
nav .search i{
    font-size: 20px;
}
nav .home_bottom{
    color: var(--main-color);
    font-size: 30px;
}
@media (min-width:767px){ 
    nav .home_bottom{
        display: none;
    }  
}

 @media (max-width:767px){  
    .container nav ul{
       display: none;
    }
    .container nav .home_bottom:hover +ul {
       display: flex;
       flex-direction: column;
       position: absolute;
       top: 80%;
       left: 0;
       width: 100%;
       background-color: darkkhaki;
    }
    .container nav ul li a {
       padding: 10px !important;
    }
    
} 

/* .................end header........................ */

/* .................start landing..................... */

 .landing {
 min-height: 100vh;
 background-image: url(../image/20135.jpg);
 background-size:cover;
 position: relative;
} 
@media (max-width:767px){  
    .landing {
        background-position: 50% 50%;
       } 
 }
 .landing .overlay{
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgb(0 0 0/ 50%) ;
} 
 .landing .overlay .text{
 color: aliceblue;
 position: absolute;
 left: 0;
 top: 50%;
 transform: translateY(-50%);
 width: 50%;
padding: 50px;
background-color: rgb(24 187 237 / 60%);
display: flex;
justify-content:flex-end;
 }
 .landing .overlay .text .centent{
 max-width: 500px;
} 
@media (max-width:767px){  
    .landing .overlay .text{
       width:calc(100% - 100px);
     } 

    .landing .overlay .text .centent{
    max-width:100%;
    } 
    }
/* ......................................*/
.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }
 /* ......................................*/
 .landing .overlay .text .centent h2{
 font-size: 30px;
 font-weight: bold;
 
} 
 .landing .overlay .text .centent p{
 font-size: 15px;
 line-height: 1.5;
 
} 
/* ........................................ */

.landing i {
    color: aliceblue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 10px;
    background-color: #19c8fe;
    border-radius:50%;
    width: 20px;
    height: 20px;
}
.landing .angle-left{
    left: 20px;
}
.landing .angle-right{
    right:20px;
}
.landing ul {
    display: flex;
    color: aliceblue;
    position: absolute;
    bottom:0;
   left: calc(50% - 60px);
    padding: 10px;
    margin-left: 5px;
}
.landing ul li {
    padding: 8px;
    background-color: #474b4d;
    border-radius:50%;
    margin-left: 10px;
}
.landing ul li.rrr {
    background-color: #288fc2;
}
@media (max-width:767px){ 
    .landing i {
        display: none;
    } 
    
}
/* .................end landing........................ */
/* .................start section........................ */
.services{
padding-top: var(--main-padding);
padding-bottom: var(--main-padding);
}
.services .section_conter .card {
display: flex;
align-items: center;
background-color: #DDD;
padding: 20px;
border-radius: 20px;
box-shadow: 5px 5px 10px 1px;

}
.services .section_conter .card i{
   margin-right:40px;
}
@media (max-width:767px){ 
    .services .section_conter .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
        } 
    .services .section_conter .card i{
        margin-right:0;
    }     
} 
    
.services .section_conter .card .text h2{
   color: var(--main-color);
   margin-bottom: 20px;
}
.services .section_conter .card .text p{
  line-height: 1.6;
  color: #777;
}
@media (min-width:767px){ 
    .services .section_conter {
        display: grid; 
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
       grid-column-gap:30px;
       grid-row-gap:60px;
        }  
    
}
/* .................................. */
.cssbuttons-io-button {
    background: var(--main-color);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--main-color);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2emvar(--main-color);
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--main-color);
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  /* ............................... */
  
/* .................end section........................ */
/* .................start design........................ */
.design{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    height: 500px;
    position: relative;
    background-image:url(../image/3.png);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.design::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 50%) ;
}
.design .image,
.design .text{
  position: relative;
  z-index: 2;
   flex: 1;
}

.design .image{
    width: 400px;
   height: 500px; 
   position: relative;
   bottom: -200px;
   align-items: center;
}
.design .text{
   color: #DDD;
   padding: 50px;
  background-color: rgb(24 187 237 / 60%);
}
.design .text h2{
    font-size: 30px;
    font-weight: bold;
}
.design .text li{
   margin-bottom: 10px;
}
.design .text .btn{
    margin-left: 70px;
   margin-top: 20px;
}

.design .text li::before{
font-family:'Font Awesome 6 free';
content:'\f390';
font-weight: 900;
margin-right: 10px;
}
@media (max-width:767px){ 
    .design .image {
       display: none;
     }
} 

.design .image img{
   height: 100%;
}
/* .................end design........................ */
/* .................start portfolio........................ */
.portfolio{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.portfolio .container ul{
   display: flex;
   justify-content: center;
   max-width:100%;
   margin:0;
   padding: 0;
   margin-bottom: 40px;
}
.portfolio .container ul li{
   padding:10px 20px;
   border: 1px solid #474b4d;
   box-shadow: 2px 2px #444;
   margin-right:20px;
   transition: 0.3s;
}
@media (max-width:767px){ 
    
    .portfolio .container ul li{
        padding:10px 15px;
        margin-right:10px;
     } 
} 
.portfolio .container ul li:hover,
.portfolio .container ul li.aaaa{
    color: #fff;
  background-color: var(--main-color);
}
/* ................... */
.portfolio .image_container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.portfolio .image_container .box img{ 
 max-width: 100%;
 transition: 0.3s;
}
.portfolio .image_container .box{ 
 position:relative;
 overflow: hidden;
 margin-bottom: 20px;
}
@media (min-width:768px){ 
    .portfolio .image_container .box{
        flex-basis: 49%;
        margin-bottom: 15px;
      }  
    
} 
@media (min-width:1199px){ 
    .portfolio .image_container .box{
        flex-basis: 24%;
      } 
    
} 
.portfolio .image_container .box .text_box{ 
    position: absolute;
    left: 0;
    padding: 10px;
    width: 100%;
    background-color: #DDD;
    transition: 0.3s;
     bottom: -100%;

   }
.portfolio .image_container .box:hover .text_box{ 
    bottom: 0;
   }
.portfolio .image_container .box:hover img{ 
   transform: rotate(4deg) scale(1.2);
   }
.portfolio .cssbuttons-io-button{ 
   margin: 20px auto;
   }


/* .................end portfolio........................ */
/* .................start section........................ */
.section{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #1a1a1a;
}
 .section .section_container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
 }
 .section .section_container .card{
    text-align: center;
    color: #DDD;
    margin-bottom: 40px;
 }
 .section .section_container .card i{
    color: var(--main-color);
    font-size: 50px;
 }
 .section .section_container .card h3{
    font-weight: bold;
    text-transform: uppercase;
 }

/* .................end section........................ */
/* .................start video........................ */
.video{
    position: relative;
}
.video::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 40%);
}
.video video{
    width: 100%;
   

}
.video .text{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(24 187 237 / 50%);
    text-align: center;
    padding:30px 0;
    color: #DDD;
}
.video .text h2{
   font-weight: 500;
}
.video .text .eee{
    margin: 0 auto;
}

/* .................end video........................ */

/* .................start about........................ */
.about{
    padding-top: var(--main-padding);
    text-align: center;
    overflow: hidden;
}
.about .container img{
    max-width: 100%;
    position: relative;
    bottom: -60px;
    top: -50px;
    height: 400px;
}

/* .................end about........................ */
/* .................start statistics........................ */
.statistics{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../image/3280899.jpg);
    position: relative;
}
.statistics::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 40%);
}
.statistics .container .statistics_conter{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
   background-color: var(--main-background-color);
}
.statistics .container .statistics_conter .box{ 
    color: #DDD;
  text-align: center;
  padding: 20px;
  border: 1px solid #0d3b66;
  z-index: 2;
}
.statistics .container .statistics_conter .box i{ 
  font-size: 20px;
  padding:15px 13px;
  border-radius: 50%;
  background-color: #0d3b66;
  color: #DDD;
}
.statistics .container .statistics_conter .box h3{ 
  font-size: 40px;
}
/* .................end statistics........................ */
/* .................start skills........................ */
.skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.skills .container{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width:992px){ 
    .skills .container > div {
    flex-basis:45% ;
    
    }
   } 
    
.skills .container  > div > h3 {
    text-align: center;
    margin: 0;
    font-weight: normal;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.skills .container  > div > p {
   text-align: center;
   color: #777;
   margin-bottom: 50px;
  line-height: 2;
 
}
.skills .container .testtimonials {
    position: relative;
    margin-bottom: 40px;
}
.skills .container .testtimonials .box_skill{
 display: flex;
 margin-bottom: 30px;
 background-color: #eee;
 padding: 20px;
 padding-bottom: 0;
 border-radius: 10px;
}
.skills .container .testtimonials .box_skill img{
  width: 120px;  
  height:120px;
  border-radius: 50%;
  margin-right: 40px;
  align-self: center;
}
@media (max-width:767px){ 
    .skills .container .testtimonials .box_skill{
       text-align: center;
       flex-direction: column;
       }
       .skills .container .testtimonials .box_skill img{
         margin:0 auto 20px ;
       }
   } 
   .skills .container .testtimonials .box_skill .text_skills{
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
  }
   .skills .container .testtimonials .box_skill .text_skills p{
    line-height: 1.6;
  }
   .skills .container .testtimonials .box_skill .text_skills h4{
    text-align: right;
    color: #777;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: normal;
  }
  .skills .container .testtimonials .boll {
    display: flex;
    padding: 5px;
    margin:40px 0;
    margin-left: calc(50% - 45px);
}
.skills .container .testtimonials .boll li {
    padding: 8px;
    background-color: #aaa;
    border-radius:50%;
    margin-left: 10px;
}
.skills .container .testtimonials .boll li.rrr {
    background-color: #288fc2;
}
/* ............................................ */
.our_skills .prog_skills .prog{
 width: 100%;
 height: 15px;
 background-color: #777;
 position: relative;
}
.our_skills .prog_skills{
 margin-bottom: 30px;
 background-color: #eee;
 padding-top: 0;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 2px 2px 10px 2px #777;
}
.our_skills .prog_skills h4{
 margin-top: 0;
}
.our_skills .prog_skills .prog span{
 position: absolute;
 height: 15px;  
 background-color: #19c8fe;
}
.our_skills .prog_skills .prog span::after{
    content:attr(data-progress)" ";
    text-align: center;
    width: 30px;
    padding: 5px;
    background-color: #DDD;
    position: absolute;
    right: -20px;
    top: -35px;
    border-radius: 10px;
}
.our_skills .prog_skills .prog span::before{
    content: "";
    border: 8px solid #ddd;
    border-color: #ddd transparent transparent transparent;
    position: absolute;
    right: -8px;
    top: -8px;

}
/* .................end skills........................ */
/* .................start quote........................ */
.quote{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../image/3.png);
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
} 
.quote::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/75%) ;
   
} 
.quote .container{
   position: relative; 
}
.quote .container q{
    quotes: '' '' '' '';
  font-size: 30px;
  margin-bottom: 30px;
  display: block;
}
.quote .container q::after{
    font-family:'Font Awesome 6 free';
    content:'\f10e';
    font-weight: 900;
    margin-right: 15px;
}
.quote .container q::before{
    font-family:'Font Awesome 6 free';
    content:'\f10d';
    font-weight: 900;
    margin-right: 15px;
}
/* .................end quote........................ */
/* .................start pyicing...................... */
.pyicing{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.pyicing .pyicing_center{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;

}
 .pyicing .pyicing_center .box{
    background-color: #DDD;
    text-align: center;
} 

 .pyicing .pyicing_center .box .pries{
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding: 30px 20px;

} 
 .pyicing .pyicing_center .box .pries p{
   font-size: 20px;
   text-transform: uppercase;
} 
 .pyicing .pyicing_center .box .pries span{
    font-size: 50px;
    font-weight: bold;
    width: 150px;
    border-radius: 50%;
    padding: 45px 0px;
    margin-bottom: 20px;
    background-color: var(--main-color);
    display: block;
    margin: 0 auto;
}
 .pyicing .pyicing_center .box .pries span::after{
    content:"/MO" ;
    font-size: 15px;
    position: relative;
    bottom:0px;
    right: -10px;
    font-weight: normal;
} 
 .pyicing .pyicing_center .box .pries span::before{
    content: "$";
    font-size: 20px;
    position: relative;
    top:-30px;
    left: -10px;
    font-weight: normal;
} 
 .pyicing .pyicing_center .box ul{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--main-color);
} 
 .pyicing .pyicing_center .box ul li{
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;
    /* border-bottom: 2px solid var(--main-color); */
} 
 .pyicing .pyicing_center .box ul li:not(:last-child){
    border-bottom: 2px solid var(--main-color);
} 
 .pyicing .pyicing_center .box .foot{
    width: 60%; 
    margin: 0 auto;
    padding: 15px 0;
  background-color: var(--main-color);
  margin-bottom: 20px;
  border-radius: 10px;
} 
 .pyicing .pyicing_center .box .foot a{
   text-decoration: none;
   font-size: 15px;
   color: #fff;
} 
 .pyicing footer{
    text-align: center;
   text-decoration: none;
   font-size: 20px;
 }
 .pyicing footer p{
    margin-bottom: 40px;
    margin-top: 40px;
} 
.pyicing footer a{
    margin: 20px auto;
    padding: 15px 40px;
    background-color: var(--main-color);
    margin-bottom: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
 } 
/* .................end pyicing........................ */
/* .................start subscribe........................ */
.subscribe{
padding-top: var(--main-padding);
padding-bottom: var(--main-padding);
background-image: url(../image/red-black-brush-stroke-banner-background-perfect-canva.jpg);
background-size: cover;
position: relative;
text-align: center;
color: #fff;
} 
.subscribe::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-overle) ;

}
.subscribe .container{
    position: relative;
    display: flex;
    align-items: center;

}
.subscribe .container{
    position: relative;
    display: flex;
    align-items: center;

}
@media (max-width:971px){ 
    .subscribe .container{
        flex-direction: column;
    }
   } 

   .subscribe .container form{
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
   .subscribe .container form i{
   font-size: 20px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 30px;
}
   .subscribe .container form input[type="email"]{
    border: 2px solid var(--main-color);
    background:none ;
    padding: 20px 20px 20px 60px;
    color: white;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
   .subscribe .container form ::placeholder{
    color: white;
}
   .subscribe .container form input[type="email"]:focus,
   .subscribe .container form input[type="submit"]:focus{
    outline: none;
   }
   .subscribe .container form input[type="submit"]{
    width:130px;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}
   .subscribe .container p{
    line-height: 1.6;
    margin-left: 40px;
}
@media (max-width:971px){ 
    .subscribe .container p{
        margin-top: 40px;
    }
   } 
/* .................end subscribe........................ */
/* .................end contact........................ */
.contact{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    } 
.contact .content{
    display: flex;
    justify-content: space-between;
    } 
    @media (max-width:767px){ 
        .contact .content{
            flex-direction: column;
            } 
     .contact .content form input[type="submit"]{
        margin-right: auto;
     }
       } 
.contact .content form{
    flex-basis: 70%;
    } 

.contact .content form .input{ 
    padding: 20px;
    width:calc(100% - 50px);
    margin-bottom: 30px;
    border: 1px solid var(--main-color);
    display: block;
   
    } 
.contact .content form .input:focus{ 
    outline: none;
    } 

.contact .content textarea.input{
    height:200px;
    } 
.contact .content form input[type="submit"]{
   padding: 20px;
   background-color: var(--main-color);
   color: white;
   border: none;
   cursor: pointer;
   display: flex;
   margin-left: auto;
    } 
    @media (max-width:767px){ 
        .contact .content .info{
            order: -1;
            text-align: center;
            margin-left: 0 !important;
            margin-bottom: 30px;
            } 
       } 
.contact .content .info{
    flex-basis: 25%;
    margin-left: 20px;
    } 
.contact .content .info h4{
    font-size:20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    } 
.contact .content .info h4:last-of-type{
    margin-top: 90px;
    } 
    @media (max-width:767px){ 
        .contact .content .info h4:last-of-type{
            margin-top: 30px;
            } 
    }
.contact .content .info span{
    display: block;
    margin-bottom: 15px;
    color: #444;
    } 
.contact .content .info address{
   line-height: 2;
   color: #777;
    } 


/* .................end contact........................ */

/* .................end design-services........................ */
.design-services{
    padding-top: var(--main-padding);
    padding-bottom:var(--main-padding);
    background-color: #0d3b66;
}
.design-services .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
 
 .design-services .container .box-design {
    max-width: 300px;
    height: 210px;
    background-color: #fff;
    padding: 20px 15px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}
.design-services .container .box-design:hover{
    height: 420px;
}
.design-services .container .box-design .image_box{
    position: relative;
    width: 260px;
    height: 260px;
    left: 20px;
    top: -60px;
    z-index:1;
}
 
 .design-services .container .box-design .image_box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.design-services .container .box-design:hover img{
    transform: rotate(360deg);
    border-radius: 50%;
    transition-delay: 0,3s;
}
 .design-services .container .box-design .centend {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    transition: 0.3s ease-in-out;
   opacity: 0;
   
}
 .design-services .container .box-design:hover .centend {
    visibility:visible;
   opacity: 1;
   margin-top: -60px;
   transition-delay: 0.3s;
   border-bottom: 2px solid var(--main-color);
}


/* .................start design-services........................ */
/* .................start footer........................ */
.footer{
    padding-top: var(--main-padding);
    padding-bottom: calc(var(--main-padding) - 30px);
    background-image: url(../image/footer_img.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
    } 
    .footer::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-overle) ;
    }
    .footer .container{
        position: relative;

    }
    .footer .container .foot img{
       height: 50px;
    }
    .footer .container .foot p:not(.copyright){
        text-transform: uppercase;
       padding: 20px;
       width: fit-content;
       margin: 20px auto;
       border-bottom: 1px solid var(--main-color);
    }
    .footer .container a i{
        font-size: 20px;
       color: #DDD;
       padding: 10px;
    }
    .footer .container p {
    margin-top: 30px;
    }
    .footer .container p span{
       color: var(--main-color);
       font-weight: bold;
    }
    
/* .................end footer........................ */
